In [9]:
from __future__ import division, print_function, unicode_literals

# imports
import numpy as np
import os
import pandas as pd

# stabilité du notebook d'une exécution à l'autre
np.random.seed(42)

# ignorer les warnings inutiles (voir SciPy issue #5998)
import warnings
warnings.filterwarnings(action="ignore", message="^internal gelsd")

url = 'https://raw.githubusercontent.com/HugoLeBoennec/A4_Intelligence_Artificielle/main/Projet/'

general_data = pd.read_csv(url + "dataset/general_data.csv", error_bad_lines=False)
employee_survey_data = pd.read_csv(url + "dataset/employee_survey_data.csv", error_bad_lines=False)
manager_survey_data = pd.read_csv(url + "dataset/manager_survey_data.csv", error_bad_lines=False)
out_time = pd.read_csv(url + "dataset/out_time.csv", error_bad_lines=False)
in_time = pd.read_csv(url + "dataset/in_time.csv", error_bad_lines=False)
general_data

      Age Attrition  ... YearsSinceLastPromotion YearsWithCurrManager
0      51        No  ...                       0                    0
1      31       Yes  ...                       1                    4
2      32        No  ...                       0                    3
3      38        No  ...                       7                    5
4      32        No  ...                       0                    4
...   ...       ...  ...                     ...                  ...
4405   42        No  ...                       0                    2
4406   29        No  ...                       0                    2
4407   25        No  ...                       1                    2
4408   42        No  ...                       7                    8
4409   40        No  ...                       3                    9

[4410 rows x 24 columns]

Import des données

In [10]:
alldata = pd.concat([general_data,employee_survey_data,manager_survey_data], ignore_index=True)
alldata

        Age Attrition  ... JobInvolvement PerformanceRating
0      51.0        No  ...            NaN               NaN
1      31.0       Yes  ...            NaN               NaN
2      32.0        No  ...            NaN               NaN
3      38.0        No  ...            NaN               NaN
4      32.0        No  ...            NaN               NaN
...     ...       ...  ...            ...               ...
13225   NaN       NaN  ...            3.0               3.0
13226   NaN       NaN  ...            2.0               3.0
13227   NaN       NaN  ...            3.0               4.0
13228   NaN       NaN  ...            2.0               3.0
13229   NaN       NaN  ...            4.0               3.0

[13230 rows x 29 columns]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedShuffleSplit

housing["a_deviner"] = np.ceil(housing["truc_a_prendre"]/1.5)
housing["a_deviner"].where(housing["a_deviner"] < 5, 5.0, inplace=True) # replace where false

split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)

for train_index, test_index in split.split(housing, housing["a_deviner"]):
    strat_train_set = housing.loc[train_index]
    strat_test_set = housing.loc[test_index]

for set_ in (strat_train_set, strat_test_set):
    set_.drop("a_deviner", axis=1, inplace=True)

housing = strat_train_set.copy()

0       51
1       31
2       32
3       38
4       32
        ..
4405    42
4406    29
4407    25
4408    42
4409    40
Name: Age, Length: 4410, dtype: int64